div {
	display:flex;
	align-items: center;
	flex-direction: column;
}

h3{
	margin-top: 20px;
	color: #411887;
}

.hero-id {
	display: flex;
	flex-direction: row;
}

.detail-buttons{
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.detail-buttons button {
	margin: 10px;
}

.change-mat-form{
	margin-top: 10px;
}