<div *ngIf="hero">

	<h3>{{hero.name | uppercase}} DETAILS</h3>
	<div class="hero-id"> <span>Id: </span> {{hero.id}}</div>
	<div>
	  <label for="hero-name">Hero name </label>
	  <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
	</div>
	<div class="detail-buttons">
		<button mat-mini-fab color="accent" type="button" (click)="save()">
			<mat-icon>save</mat-icon>
		</button>
		<button mat-mini-fab color="warn" type="button" (click)="goBack()">
			<mat-icon>restore_page</mat-icon>
		</button>
	</div>
  </div>