<div>
  <header>
    <h3>{{ title }}</h3>
    <div>
      <nav mat-tab-nav-bar>
          <a mat-tab-link routerLink="/dashboard">Dashboard</a>
          <a mat-tab-link routerLink="/heroes">Heroes</a>      
      </nav>


      <!-- <mat-tab-group animationDuration="2000ms">
        <mat-tab label="Dashboard" routerLink="/dashboard"> 
        </mat-tab>
        
        <mat-tab label="Second">
          <router-outlet></router-outlet>
        </mat-tab>
      </mat-tab-group> -->
      
    </div>
  </header>

  <router-outlet></router-outlet>
  <app-mesagges></app-mesagges>
</div>
