<div>
  <h3>My Heroes</h3>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail">
        <span class="badge">{{ hero.id }}</span> {{ hero.name }}
      </a>
      <button
        mat-mini-fab
        color="accent"
        type="button"
        class="delete"
        title="delete hero"
        (click)="delete(hero)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>

  <span class="hero-adding">
    <form class="input-hero-form">
      <mat-form-field class="input-mat-form" appearance="fill">
        <mat-label>Add a new hero!</mat-label>
        <input matInput placeholder="Super... something." id="new-hero" #heroName />
      </mat-form-field>
    </form>

    <button
      mat-mini-fab
      color="primary"
      type="button"
      class="add-button"
      (click)="add(heroName.value); heroName.value = ''"
    >
      <mat-icon>add</mat-icon>
    </button>
  </span>

</div>
