div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div h3 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #411887;
}

.heroes {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  width: 80%;
}

.heroes li {
  display: flex;
}

.heroes a {
  color: #411887;
  text-decoration: none;
  margin: 0.5em 0.5em 0.5em 3em;
  padding: 0.3em 0.8em 0.3em 0em;
  height: 1.6em;
  border-radius: 4px;
  display: flex;
  border: 1px solid #411887;
}

.delete {
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.heroes a:hover {
  color: #4e16ae;
  background-color: #ece0ff;
}

.heroes a:active {
  background-color: #8a5add;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #532e94;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.56em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.hero-adding {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.hero-adding button {
  margin: 10px;
}
